nav#nav
  span#blog_name
    //- a#site-name(href=url_for('/')) #[=config.title]
    img#site-logo(href=url_for('/') src='/blog/img/favicon.png')
    
  #menus
    if (theme.algolia_search.enable || theme.local_search.enable)
      #search-button
        a.site-page.social-icon.search
          i.fas.fa-search.fa-fw
          span=' '+_p('search.title')
    !=partial('includes/header/menu_item', {}, {cache: true})

    #toggle-menu
      a.site-page
        i.fas.fa-bars.fa-fw

div#mobile-nav
  div.mobile-nav-box
    div#mobile-nav-pagename
      a(href='/')='青柚故事'
    div#site-logo-body
      img#site-logo(href=url_for('/') src='/blog/img/favicon.png')
    div#mobile-nav-box-menu-button
      div#mobile-nav-box-menu-button-before
      div#mobile-nav-box-menu-button-after
  div#mobile-nav-screen
    if theme.menu
    .menus_items
      each value, label in theme.menu
        if typeof value !== 'object'
          .menus_item
            - const valueArray = value.split('||')
            a.site-page(href=trim(valueArray[0]) target='_self')
              if valueArray[1]
              span=' '+label
        else
          .menus_item
            - const labelArray = label.split('||')
            - const hideClass = labelArray[2] && trim(labelArray[2]) === 'hide' ? 'hide' : ''
            a.site-page.group(class=`${hideClass}` href='javascript:void(0);' target='_self')
              if labelArray[1]
              span=' '+ trim(labelArray[0])
              i.fas.fa-chevron-down
            ul.menus_item_child
              each val,lab in value 
                - const valArray = val.split('||')
                li
                  a.site-page.child(href=trim(valArray[0]) target='_self')
                    if valArray[1]
                    span=' '+ lab
  div#mobile-page-header-cover





